<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style1.css">
    <link rel="icon" href="/images/weather.png">
    <title>About</title>
</head>
<body>
    <div class="maincontent">
        {{>header}}
        <p> This is a weather website which provides information like current temperature, overall weather and many more.</p>
    </div>
    
    {{>footer}}
</body>
</html>